deps/** filter=lfs diff=lfs merge=lfs -text
*.jp*g filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
docs/images/WeChatQR.jpeg -filter=lfs -diff=lfs -merge=lfs -text
