{
	"sealEngine": "PBFT",
	"systemproxyaddress":"0x0",
  	"cryptomod":"0",
	"listenip":"{ip}",
	"rpcport":"{rpcport}",
	"p2pport":"{p2pport}",
	"channelPort":"{channelPort}",
	"wallet":"{nodedir}keys.info",
	"keystoredir":"{nodedir}keystore/",
	"datadir":"{nodedir}data/",
	"vm":"interpreter",
	"networkid":"{networkid}",
	"logverbosity":"4",
	"coverlog":"OFF",
	"eventlog":"ON",
	"logconf":"{nodedir}log.conf"
}
